<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Demo ActionSheet Capacitor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-button (click)="myShowActions()">Open Action Sheet Capacitor NATIVE !!</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          <ion-text color="warning">{{messageActionSheetClicked}}</ion-text>
        </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
