<ion-tabs>
<!--attention ici le formateur utilise la tab bar comme une navbar ! la bonne pratique se situe ici
  https://ionicframework.com/docs/angular/navigation#working-with-tabs
-->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="logo-ionic"></ion-icon>
      Content
    </ion-tab-button>
    <ion-tab-button tab="actionsheet">
      <ion-icon name="logo-capacitor"></ion-icon>
      Action Sheet
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="logo-capacitor"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="logo-capacitor"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="logo-capacitor"></ion-icon>
      Home
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>